body {
    padding: 0;
    margin: 0;
}
#notebook {
    display: flex;
    width: 100%;
    height: calc(100vh);
}

.side-bar {
    width: 20%;
    background-color: #eee;
}
.notes .note {
    width: 150px;
    font-size: 14px;
    padding: 3px;
}
.notes .selected {
    background-color: yellowgreen;
    color: #fff;
}
.main {
    width: 40%;
    border-right: 1px solid #ccc;
}
.main textarea {
    border: none;
    resize: none;
    width: 99%;
    height: 98%;
    outline: none;
}
.preview {
    width: 40%;
    border-left: 1px solid #ccc;
    height: 98%;
}