button{
    cursor: pointer;
    margin: 0;
    font-size: 14px;
    padding: 5px 6px;
    color: inherit;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border: 1px solid #d43f3a;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.form-control {
    height: 18px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}