<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notebook</title>
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" href="./css/index.css"/>
    <link rel="stylesheet" href="./css/iconfont/iconfont.css"/>
    <script src="./js/vue.js" type="text/javascript"></script>
    <script src="./css/iconfont/iconfont.js" type="text/javascript"></script>
    <script src="./js/marked.js" type="text/javascript"></script>
    <script src="./js/moment.js" type="text/javascript"></script>
</head>
<body>
<div id="notebook">
    <aside class="side-bar">
        <div class="toolbar">
            <button class="btn-primary" @click="addNote" :title="addButtonTitle">addNote</button>
        </div>
        <div class="notes">
            <div class="note"
                 @click="selectNote(note)"
                 v-for="note in sortedNotes"
                 :class="{selected: note.id === selectedId}"
                 :key="note.id">
                <span class="text">{{note.title}}</span>
                <i class="iconfont icon-shoucang" v-if="note.favorite"></i>
            </div>
        </div>
    </aside>
    <template v-if="selectedNote">
        <section class="main">
            <div class="toolbar">
                <input class="form-control" v-model="selectedNote.title" placeholder="Edit note title"/>
                <button class="btn-default" @click="favoriteNote">
                    <i :class="['iconfont', selectedNote.favorite ? 'icon-shoucang' : 'icon-xingxing1']"></i>
                </button>
                <button class="btn-danger" @click="removeNote">
                    <i class="iconfont icon-duomeitiicon-"></i>
                </button>
            </div>
            <textarea v-model="selectedNote.content"></textarea>
            <div class="toolbar status-bar">
                <span class="date">
                    <span class="label">created:</span>
                    <span class="value">{{selectedNote.time | date}}</span>
                </span>
                <span class="lines">
                    <span class="label">Lines:</span>
                    <span class="value">{{linesCount}}</span>
                </span>
                <span class="words">
                    <span class="label">Words:</span>
                    <span class="value">{{wordsCount}}</span>
                </span>
                <span class="lines">
                    <span class="label">Characters:</span>
                    <span class="value">{{charactersCount}}</span>
                </span>
            </div>
        </section>
        <!--预览面板-->
        <aside class="preview" v-html="notePreview">
        </aside>
    </template>
</div>
<script>
    Vue.filter('date', time => moment(time).format('YYYY-MM-DD HH:mm:ss'))
  let vm = new Vue({
    data() {
      return {
        content: 'you can write a note in **markdown**', // 笔记内容
        notes: JSON.parse(localStorage.getItem('notes')) || [], //笔记列表
        selectedId: JSON.parse(localStorage.getItem('selected-id')) || null
      }
    },
    computed: {
      // 行数计算
      linesCount() {
        if (this.selectedNote) {
          return this.selectedNote.content.split(/\r\n|\r\n/).length
        }
      },
      // 空格数量计算
      wordsCount() {
        if (this.selectedNote) {
          let s = this.selectedNote.content
          s = s.replace(/\n/g, ' ')
          s = s.replace(/(^\s*\)|(\s*$))/, '')
          s = s.replace(/\s+/gi, ' ')
          return s.split(' ').length - 1
        }
      },
      // 字符数计算
      charactersCount() {
        if (this.selectedNote) {
          return this.selectedNote.content.split('').length
        }
      },
      // 预览内容
      notePreview() {
        return this.selectedNote ? marked(this.selectedNote.content) : ''
      },
      // 按钮的title
      addButtonTitle() {
        return this.notes.length + ' node(s) already'
      },
      // 选中的note
      selectedNote() {
        return this.notes.find(item => item.id === this.selectedId)
      },
      // 笔记的排序
      sortedNotes() {
        return this.notes.slice() // slice() 浅拷贝，返回一个数组副本
          .sort((a, b) => a.created - b.created) // 先对创建时间排序
          .sort((a, b) => (a.favorite === b.favorite) ? 0 : a.favorite ? -1 : 1) // 再对是否收藏排序
      }
    },
    methods: {
      // 收藏笔记
      favoriteNote() {
        /**
         * true ^ true = 0
         * false ^ true = 1
         * @type {boolean}
         */
        this.selectedNote.favorite ^= true
      },
      // 移除笔记
      removeNote() {
        if (this.selectedNote && window.confirm('确认删除？')) {
          let i = this.notes.indexOf(this.selectedNote)
          console.log(i)
          if (i !== -1) {
            this.notes.splice(i, 1)
          }
        }
      },
      // 选择笔记
      selectNote(note) {
        this.selectedId = note.id
        localStorage.setItem('selected-id', JSON.stringify(note.id))
      },
      // 添加笔记
      addNote() {
        let time = Date.now()
        let note = {
          id: time,
          title: 'New note ' + (this.notes.length + 1),
          content: 'you can write a note in **markdown**',
          created: time,
          favorite: false
        }
        this.notes.push(note)
      },
      // 保存笔记
      saveNotes(val) {
        console.log(val)
        localStorage.setItem('notes', JSON.stringify(val))
      }
    },
    watch: {
      notes: {
        handler: 'saveNotes',
        deep: true // 深监听
      }
    }
  })
  vm.$mount('#notebook')
</script>
</body>
</html>